<%- include("partials/header") -%>
<h1>Compose</h1>
<form action="/contact" method = "post">
<input type="text" name="text" placeholder="">
<button type="submit" name="button">Publish</button>
</form>
<%- include("partials/footer") -%>